body {
    background-color: #f8f9fa;
}

#fileList {
    list-style-type: none;
    padding: 0;
}

#fileList li {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
